extends ../layout

block content
  a(href="/bicicletas") Volver
  
  h1 Nueva bicicleta
  form(action='/bicicletas/create' method='POST')
    label(for='id') ID: 
    input#id(type='text' name='id')
    br
    label(for='color') Color: 
    input#color(type='text' name='color')
    br
    label(for='mdl') Modelo: 
    input#mdl(type='text' name='mdl')
    br
    label(for='lat') Latitud: 
    input#lat(type='text' name='lat')
    br
    label(for='long') Longitud: 
    input#long(type='text' name='long')
    br
    br
    input.btn(type='submit' value='OK')
