extends ../layout

block content
  a(href="/bicicletas") Volver
  
  h1 Actualizar bicicleta
  form(action=`/bicicletas/${bicicleta.id}/update` method='POST')
    label(for='id') ID: 
    input#id(type='text' name='id' value=bicicleta.id)
    br
    label(for='color') Color: 
    input#color(type='text' name='color' value=bicicleta.color)
    br
    label(for='mdl') Modelo: 
    input#mdl(type='text' name='mdl' value=bicicleta.modelo)
    br
    label(for='lat') Latitud: 
    input#lat(type='text' name='lat' value=bicicleta.ubicacion[0])
    br
    label(for='long') Longitud: 
    input#long(type='text' name='long' value=bicicleta.ubicacion[1])
    br
    br
    input.btn(type='submit' value='OK')
